html {
    background-image: url("_images/hubble1.jpg");
    height: 100%;
}

body {
    height: 100%;
    background-color: black;
    color: white;
}

h1 {
    margin: auto;
    font-size: 5em;
}

h1, h2, h3 {
    font-family: 'Exo 2', sans-serif;
}

dl {
    margin-left: 20px;
}

.title {
    text-align: center;
}

#map {
    width: 100%;
    height: 300px;
    box-sizing: content-box;
}